# Don't push these
__pycache__/
*.pyc
.DS_Store
venv/
.vscode/
knowledge_base/chroma_db/
knowledge_base/icd_11.pdf
notebooks/knowledge_base/chroma_db/
*.csv
!datasets/rag_eval_subset.csv
!datasets/rag_eval_subset.meta.json
!datasets/rag_dev_slice.csv
!datasets/rag_dev_slice.meta.json
/anaconda_projects
/.virtual_documents
/components/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
/retriever/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
